<blockquote>
  <h1>Buscar Empleados</h1>
</blockquote>
<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>        
        <th>Numero</th>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Tipo</th>
        <th>Estatus</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody *ngFor="let empleado of empleados">
      <tr>        
        <td> {{empleado.inumempl}} </td>
        <td> {{empleado.cnomempl}} </td>
        <td> {{empleado.irol}} </td>
        <td> {{empleado.itipo}} </td>
        <td> {{empleado.istatus}} </td>
        <td><a (click)="modificar(empleado)" class="red lighten-2 waves-effect waves-light btn"><i class="material-icons">clear</i></a></td>
      </tr>     
    </tbody>
  </table>
  