<div class="divprinci row">
  <div class="col s12 m12 l12">
      <blockquote>
          <h4>Buscar Empleados</h4>
        </blockquote>
  </div>
  <div class="col s12 m12 l12">
      <table id="datatable" class="row-border hover">
          <thead>
            <tr>        
              <th>Numero</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Tipo</th>
              <th>Estatus</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleados">        
              <td> {{empleado.inumempl}} </td>
              <td> {{empleado.cnomempl}} </td>
              <td> {{empleado.sdescrol}} </td>
              <td> {{empleado.sdesctipo}} </td>
              <td *ngIf="empleado.istatus == true"><i class="material-icons greenicon">check_circle_outline</i></td>
              <td *ngIf="empleado.istatus == false"><i class="material-icons redicon">highlight_off</i></td>
              <td><a (click)="modificar(empleado)" class="teal lighten-2 waves-effect waves-light btn"><i class="material-icons">create</i></a></td>
            </tr>     
          </tbody>
        </table>
  </div>
 
</div>
