<blockquote>
  <h4>Pagos Mensuales</h4>
</blockquote>
<div class="row">
    <form [formGroup]="searchForm" (ngSubmit)="buscarEmpleado()" class="col s12">
      <div class="row divpad">      
        <div class="col s12 m12 l12">
            <div class="panel panel-default">
                <div class="panel-heading">Buscar Empleado</div>
                <div class="panel-body">
                  <div class="row">
                      <div class="input-field col s12 m6 l6">
                          <i class="material-icons prefix">account_circle</i>
                          <input  maxlength="10" formControlName="numeroempleado" [ngClass]="{ 'invalid': submitted && s.numeroempleado.errors }" id="numero" type="text" class="validate">
                          <label for="numero">Numero</label>
                          <div *ngFor="let validationnumero of account_validation_messages.numeroempleado"  class="messagepading red-text text-darken-2">                          
                            <div *ngIf="searchForm.get('numeroempleado').hasError(validationnumero.type) && (searchForm.get('numeroempleado').dirty || searchForm.get('numeroempleado').touched)">{{validationnumero.message}}</div>
                          </div>
                      </div>
                      <div class="col s12 m6 l6">
                        <button class="green lighten-2 waves-effect waves-light btn-large right"><i class="material-icons left">search</i>Buscar</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </form>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col s12">
    <div class="row">
      <div class="col s12 m12 l12">
          <div [ngClass]="classpagomensual" class="panel panel-default">
              <div class="panel-heading">Pago Mensual</div>
              <div class="panel-body">
                  <div class="row">
                      <div class="input-field col s12 m12 l12">
                          <i class="material-icons prefix">account_circle</i>
                          <input formControlName="nombre" id="nombre" type="text" class="validate">
                          <label for="nombre">Nombre</label>                          
                        </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12 m6 l6">
                          <i class="material-icons prefix">account_circle</i>
                          <input formControlName="rol" id="rol" type="text" class="validate">
                          <label for="rol">Rol</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">account_circle</i>
                            <input formControlName="tipo" type="tel" id="tipo" class="validate">
                            <label for="tipo">Tipo</label>                            
                        </div> 
                  </div>
                  <div class="row">
                      <div class="input-field col s12 m6 l6">
                          <i class="material-icons prefix">account_circle</i>
                          <input  formControlName="fecha" [ngClass]="{ 'invalid': submitted && f.fecha.errors }" id="fecha" type="text" class="datepicker">                          
                          <label for="fecha">Fecha</label>
                          <div *ngFor="let validationfecha of account_validation_messages.fecha"  class="messagepading red-text text-darken-2">                          
                            <div *ngIf="registerForm.get('fecha').hasError(validationfecha.type) && (registerForm.get('fecha').dirty )">{{validationfecha.message}}</div>
                          </div>
                        </div>                        
                  </div>
                  <div class="row">
                      <div class="input-field col s12 m6 l6">
                          <i class="material-icons prefix">account_circle</i>
                          <input maxlength="10" formControlName="numeroentregas" [ngClass]="{ 'invalid': submitted && f.numeroentregas.errors }" id="entregas" type="text" class="">
                          <label  for="entregas">Numero de Entregas</label>
                          <div *ngFor="let validationentrega of account_validation_messages.numeroentregas"  class="messagepading red-text text-darken-2">                          
                            <div *ngIf="registerForm.get('numeroentregas').hasError(validationentrega.type) && (registerForm.get('numeroentregas').dirty || registerForm.get('numeroentregas').touched )">{{validationentrega.message}}</div>
                          </div>
                        </div>
                        <div class="input-field col s12 m6 l6"> 
                            <p>
                                <label>
                                  <input  formControlName="checkcubrirturno" type="checkbox" />
                                  <span>Cubrio turno?</span>
                                </label>
                              </p>
                        </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 m6 l6">
                      <i class="material-icons prefix">account_circle</i>
                      <input maxlength="2" formControlName="diasfalto"  [ngClass]="{ 'invalid': submitted && f.diasfalto.errors }" id="diasfalto" type="text">
                      <label for="diasfalto">Dias que falto</label>
                      <div *ngFor="let validationdiasfalto of account_validation_messages.diasfalto"  class="messagepading red-text text-darken-2">                          
                        <div *ngIf="registerForm.get('diasfalto').hasError(validationdiasfalto.type) && (registerForm.get('diasfalto').dirty || registerForm.get('diasfalto').touched )">{{validationdiasfalto.message}}</div>
                      </div>
                    </div>  
                  </div>
                  <div class="row" [ngClass]="classcubrioturno">
                      <div class="col s12 m12 l12">
                          <div class="panel panel-default">
                              <div class="panel-heading">Turnos Cubiertos</div>
                              <div class="panel-body">
                                  <div class="row">
                                      <div class="input-field col s12 m6 l6">
                                          <p>
                                              <label>
                                                <input formControlName="checkcubriochofer" type="checkbox" />
                                                <span>Cubrio Chofer?</span>
                                              </label>
                                            </p>                                            
                                      </div>                                        
                                      <div [ngClass]="classdiaschofer" class="input-field col s12 m6 l6">
                                          <i class="material-icons prefix">account_circle</i>
                                          <input maxlength="2" formControlName="diaschofer" [ngClass]="classvaliddiaschofer" id="diaschofer" type="text">
                                          <label for="diaschofer">Dias Cubiertos como "Chofer"</label>
                                          <div *ngFor="let validationdiaschofer of account_validation_messages.diaschofer"  class="messagepading red-text text-darken-2">                          
                                            <div *ngIf="registerForm.get('diaschofer').hasError(validationdiaschofer.type) && (registerForm.get('diaschofer').dirty || registerForm.get('diaschofer').touched )">{{validationdiaschofer.message}}</div>
                                          </div>
                                        </div>                                       
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12 m6 l6">
                                          <p>
                                              <label>
                                                <input formControlName="checkcargador" type="checkbox" />
                                                <span>Cubrio Cargador?</span>
                                              </label>
                                            </p>
                                      </div>                                        
                                      <div [ngClass]="classdiascargador" class="input-field col s12 m6 l6">
                                          <i class="material-icons prefix">account_circle</i>
                                          <input maxlength="2" formControlName="diascargador" [ngClass]="classvaliddiascargador" id="diascargador" type="text">
                                          <label for="diascargador">Dias Cubiertos como "Cargador"</label>
                                          <div *ngFor="let validationdiascargador of account_validation_messages.diascargador"  class="messagepading red-text text-darken-2">                          
                                            <div *ngIf="registerForm.get('diascargador').hasError(validationdiascargador.type) && (registerForm.get('diascargador').dirty || registerForm.get('diascargador').touched )">{{validationdiascargador.message}}</div>
                                          </div>
                                        </div>                                       
                                  </div>
                              </div>
                            </div>
                      </div>        
                  </div>
              </div>
            </div>
      </div>        
      <div class="col s12 m6 l6">
      </div>      
    </div>        
    <div class="row">
      <div class="col s12">        
        <button class="green lighten-2 waves-effect waves-light btn-large right" ><i class="material-icons left">save</i>Pagar</button>
        <a (click)="back()" class="red lighten-2 waves-effect waves-light btn-large right"><i class="material-icons left">replay</i>Regresar</a>
      </div>      
    </div>
  </form>
</div>
