<h4>
  <blockquote>
    Agregar a un Empleado
  </blockquote>
</h4>

<div class="row">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col s12">
    <div class="row divpad">      
      <div class="col s12 m12 l12">
          <div class="panel panel-default">
              <div class="panel-heading">Informacion General</div>
              <div class="panel-body">
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">account_circle</i>
                        <input  formControlName="numeroempleado" [ngClass]="{ 'invalid': submitted && f.numeroempleado.errors }" id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Numero</label>
                        <div *ngFor="let validationnumero of account_validation_messages.numeroempleado"  class="messagepading red-text text-darken-2">                          
                          <div *ngIf="registerForm.get('numeroempleado').hasError(validationnumero.type) && (registerForm.get('numeroempleado').dirty || registerForm.get('numeroempleado').touched)">{{validationnumero.message}}</div>
                        </div>
                      </div>
                      <div class="input-field col s12 m6 l6">
                          <i class="material-icons prefix">account_circle</i>
                          <input formControlName="nombre" id="icon_telephone" [ngClass]="{ 'invalid': submitted && f.nombre.errors }" type="tel" class="validate">
                          <label for="icon_telephone">Nómbre</label>
                          <div *ngFor="let validationnombre of account_validation_messages.nombre"  class="messagepading red-text text-darken-2">                          
                            <div *ngIf="registerForm.get('nombre').hasError(validationnombre.type) && (registerForm.get('nombre').dirty || registerForm.get('nombre').touched)">{{validationnombre.message}}</div>
                          </div>
                      </div> 
                </div>
              </div>
            </div>
      </div>
    </div>      
    <div class="row">
      <div class="col s12 m6 l6">
          <div class="panel panel-default">
              <div class="panel-heading">Roles</div>
              <div class="panel-body">
                  <p *ngFor="let rol of roles">
                      <label >
                        <input class="with-gap" formControlName="radioroles" [value]="rol.rol" name="radioroles" type="radio" checked />
                        <span> {{rol.descripcionrol}} </span>
                      </label>
                    </p>
                    <div *ngFor="let validationrol of account_validation_messages.radioroles"  class="messagepading red-text text-darken-2">                          
                      <div *ngIf="registerForm.get('radioroles').hasError(validationrol.type) && (registerForm.get('radioroles').dirty || registerForm.get('radioroles').touched)">{{validationrol.message}}</div>
                    </div>
              </div>
            </div>
      </div>        
      <div class="col s12 m6 l6">
          <div class="panel panel-default">
              <div class="panel-heading">Tipos</div>
              <div class="panel-body">
                  <p *ngFor="let tipo of tipos">
                      <label >
                        <input class="with-gap" formControlName="radiotipos" [value]="tipo.tipo" name="radiotipos" type="radio" checked />
                        <span> {{tipo.descripciontipo}} </span>
                      </label>
                    </p>
                    <div *ngFor="let validationtipo of account_validation_messages.radiotipos"  class="messagepading red-text text-darken-2">                          
                      <div *ngIf="registerForm.get('radiotipos').hasError(validationtipo.type) && (registerForm.get('radiotipos').dirty || registerForm.get('radiotipos').touched)">{{validationtipo.message}}</div>
                    </div>
              </div>
            </div>
      </div>      
    </div>        
    <div class="row">
      <div class="col s12">          
          <a class="red lighten-2 waves-effect waves-light btn-large right"><i class="material-icons left">clear</i>Limpiar</a>
          <button class="green lighten-2 waves-effect waves-light btn-large right" [disabled]="loading"><i class="material-icons left">save</i>Agregar</button>
      </div>
    </div>  
  </form>
</div>