<nav class="menucolor nav-extended">
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [routerLink]="['/']">Crear Empleado</a></li>
      <li><a [routerLink]="['/search']">Buscar Empleado</a></li>
      <li><a [routerLink]="['/pagomensual']">Pagos Mensuales</a></li>
      <li><a [routerLink]="['/reporte']">Reporte</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a class="sidenav-close" [routerLink]="['/']">Crear Empleado</a></li>
    <li><a class="sidenav-close" [routerLink]="['/search']">Buscar Empleado</a></li>
    <li><a class="sidenav-close" [routerLink]="['/pagomensual']">Pagos Mensuales</a></li>
    <li><a class="sidenav-close" [routerLink]="['/reporte']">Reporte</a></li>
</ul>